
.idimage_readonly {
    opacity: 0.5;
}

.idimage-wrapper-help {
    display: block;
    width: 90%;
    position: relative;
}

/*.idimage-row-help {
    flex: 0 0 65%; !* Первый блок занимает 70% *!
}*/

.idimage-row-help-check {
    flex: 0 0 30%; /* Второй блок занимает 30% */
}

.idimage_creat_new_controller {

}

.idimage-status-msg {
    display: block;
    max-width: 250px;
    margin-top: 5px;
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Альтернативный вариант */
    white-space: normal; /* Разрешает перенос строк */
}


.idimage-status {
    color: #5cb85c;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #5cb85c;
    margin: 0 0;
    width: auto;
    display: inline-block;
}

.idimage-status.success {
    color: green;
    border: 1px solid green;
}

.idimage-status.error {
    color: darkred;
    border: 1px solid darkred;
}

.idimage-status.retry {
    color: #e7d15f;
    border: 1px solid #e7d15f;
}


.idimage-scroll-button {
    position: absolute;
    bottom: 14px;
    right: 19px;
    opacity: 0.5;
}

.idimage-scroll-button button {
    font-size: 11px;
    padding: 3px 5px;
}

.idimage-scroll-button span {
    padding: 5px 8px;
}

.idimage-scroll-button:hover {
    opacity: 0.9;
}

#idimage-button-panel {
    position: fixed;
    top: 35px;
    background-color: #fff;
    height: 42px;
    padding: 10px 13px;
    border-bottom: 1px solid #ccc;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#idimage-grid-tasksruntask .x-window-body {
    padding-top: 70px;
}

.idimage_area_reading {
    padding-bottom: 10px;
}


#idimage-grid-tasksruntask .comment {
    color: #666;
}

#idimage-grid-tasksreadlog .info {
    color: #5cb85c;
}

#idimage-grid-tasksreadlog .error {
    color: darkred;
}

#cidimage-grid-tasksreadlog .comment {
    color: #666;
}


.idimage_help_command_wrapper {
    display: block;
}

.idimage_help_command {
    background-color: #e4e4e4;
    border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
    max-width: 800px;
}

.idimage_help_command_pre {
    padding: 10px 20px;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

.idimage_help_command_help {
    margin-left: 0;
}

.idimage-method-crontab {
    margin: 20px 20px;
}


.idimage-method-crontab.not_available {
    opacity: 0.5;
}


.idimage_time_crontab {
    padding: 0 5px;
    margin-top: 0;
    border: 0;
}

.idimage_time_crontab .x-fieldset-body {
    padding: 0 0;
}

.idimage_time_crontab .x-form-item.x-tab-item {
    display: inline-block;
}

.idimage_time_crontab .x-form-item.x-tab-item:nth-child(2) {
    position: absolute;
    top: 12px;
    left: 190px;
}

.idimage-availability {
    padding: 8px 0;
}

.idimage-availability .idimage-availability-name {
    width: 200px;
    margin-bottom: 5px;
    display: inline-block;
}


.idimage-status-color-queue, .idimage-status-color-start {
    color: darkblue;
    border-color: darkblue;
}

.idimage-status-color-completed {
    color: green;
    border-color: green;
}

.idimage-status-color-pending {
    color: #0c40ec;
    border-color: #0c40ec;
}

.idimage-status-color-failed {
    color: red;
    border-color: red;
}

.idimage-status-color-attempt {
    color: red;
    border-color: red;
}

.idimage-status-color-retry {
    color: #b845e5;
    border-color: #b845e5;
}

.idimage-status-color-created, .idimage-status-color-clear, .idimage-status-color-unknown {
    color: gray;
    border-color: gray;
}


.idimage-status-color-processing {
    color: #985f0d;
    border-color: #985f0d;
}

.idimage-status-color-similar_not_found {
    color: #4c5169;
    border-color: #4c5169;
}

.idimage-status-color-unknown {
    color: gray;
    border-color: gray;
}

.idimage-status-color-invalid {
    color: red;
    border-color: red;
}

.idimage-status-color-fail {
    color: red;
    border-color: red;
}

.idimage-status-color-upload {
    color: #985f0d;
    border-color: #985f0d;
}

.idimage-status-color-manual {
    color: gray;
    border-color: gray;
}

.idimage-contacts div {
    margin: 5px 0;
}

.idimage-contacts a {
    color: #6f42c1 !important;
}


.idimage-main-wrapper {
    margin: 0;
    padding: 0 50px 0 0;

}

.idimage-btn {
    margin: 10px 0 10px 0;
    clear: both;
}

.idimage-stat-text {
    padding: 5px 0;
}

.idimage-stat-section {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ddd;
}

.idimage-stat-section h3 {
    margin-top: 10px;
}

.text-warning {
    color: #f10f0f;
}

.idimage-product-id {
    color: #666;
    margin-top: 5px;
    display: block;
}

.idimage-image-link img {
    max-width: 100px;
    max-height: 100px;
}

.idimage-navbar-title h3 {
    margin-bottom: 0;
}

.idimage-navbar-text {
    min-height: 70px;
    margin-top: 15px;
}

.idimage-row-help h2 {
    margin: 20px 0;
}

.idimage-navbar h3 {
    margin-bottom: 10px;
}

.idimage-similar-images {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Добавляет небольшой отступ между изображениями */
}

.idimage-similar-image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: 5px;
    border: 1px solid #ddd;
    background-color: #eee; /* Серый фон */
    overflow: hidden;
}

.idimage-similar-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Чтобы изображение полностью умещалось без обрезки */
}


.idimage-placeholder {
    position: absolute;
    color: #d5d5d5;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    display: block; /* Скрыто по умолчанию */
}

.idimage-similar-probability {
    position: absolute;
    top: -10px;
    left: 5px;
    text-align: center;
    right: 5px;
    font-size: 11px;
}

.idimage-similar-wrapper {
    position: relative;
}

.idimage-ball {
    color: #ccc;
}
